// NAVBAR
.navbar {
	@include flexLayout(space-between);
	position: sticky;
	top: 0;
	height: 80px;
	background: $dark;
	font-size: 1.7rem;
	padding: 0 2rem;
	z-index: 99;

	&_logo {
		display: flex;
		align-items: center;
		background: #f2994a;
		background-image: linear-gradient(to top, #f12711 0%, #f5af19 100%);
		background-size: 100%;
		-webkit-background-clip: text;
		-moz-background-clip: text;
		-webkit-text-fill-color: transparent;
		-moz-text-fill-color: transparent;
		font-size: 2.8rem;
		font-family: 'Tenor Sans', sans-serif;
		font-weight: 700;
		margin-left: 3rem;
		cursor: pointer;
	}

	&_menu {
		display: flex;
		align-items: center;
	}

	&_item {
		height: 80px;
	}

	&_links {
		@include flexLayout;
		width: 125px;
		height: 100%;
		color: $light;
		text-transform: uppercase;
		transition: all 0.3s ease;

		&:hover {
			color: $primary;
			transition: all 0.3s ease;
		}
	}

	&_btn {
		@include flexLayout;
		width: 100%;
		padding: 0 1rem;
		margin-right: 2rem;

		.button {
			@extend %btn;
			color: $light;
			background-color: $primary;
			padding: 10px 20px;
			border: 1px solid $dark;
			border-radius: 24px;
			background-image: linear-gradient(to right, transparent 50%, #ff4b4b 50%);
			background-size: 200%;
			background-position: 0%;
			text-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.3);
			transition: 0.4s all ease-in-out;

			&:hover {
				background-position: 100%;
			}

			&:active {
				transform: scale(0.97);
			}
		}
	}
}

// HEADER
.header {
	height: 100vh;
	width: 100%;
	position: relative;
	background-color: rgba(0, 0, 0, 0.8);

	.wrapper {
		background: url('/dist/img/bg.jpg') no-repeat center center/cover;
		height: 100vh;
		width: 100%;
		opacity: 0.5;
	}

	.banner {
		position: absolute;
		top: 30%;
		left: 12%;
		width: 60%;

		h1 {
			color: $light;
			font-size: 6rem;
			font-family: 'Baloo Da 2', sans-serif;
			font-weight: 300;
			width: 55%;
			line-height: 6.5rem;
			letter-spacing: 0.2rem;
			text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
		}

		p {
			font-family: 'Calibri', sans-serif;
			font-size: 2rem;
			color: $light;
			letter-spacing: 0.1rem;
			margin-bottom: 3rem;
			text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
		}

		.btn-header {
			@extend %btn;
			padding: 2rem 6rem;
			color: $light;
			background-color: $primary;
			text-transform: uppercase;
			font-size: 1.7rem;
			text-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.5);
			box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
			outline: 2px solid $primary;

			&:active {
				background-color: darken($primary, 10%);
				outline: 2px solid $primary;
				outline-offset: 6px;
			}
		}
	}
}

// ABOUT
.about_us {
	width: 100%;
	background-color: $secondary;
	padding-bottom: 8rem;
}

.services {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-gap: 4rem;

	.about_img_wrapper img {
		width: 75rem;
		margin-left: 5rem;
	}

	.service {
		display: grid;
		grid-template-rows: repeat(3, 1fr);

		.box {
			display: block;
			margin-right: 2rem;

			.service_header {
				display: flex;
				margin-bottom: 1.5rem;

				i {
					color: $primary;
					font-size: 2.5rem;
					margin-right: 1rem;
				}

				h3 {
					font-size: 2.5rem;
					color: $dark;
				}
			}

			.service_text {
				font-size: 1.2rem;
				line-height: 1.5rem;
				letter-spacing: 0.1rem;
			}
		}
	}
}

// TEAM
.team {
	display: block;
	padding: 0 5rem 10rem 5rem;
}

.cards-wrapper {
	@include flexLayout($justify: space-evenly);
	width: 100%;

	.card {
		width: 37rem;
		height: 44rem;
		box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.4);
		border-radius: 0.5rem;
		position: relative;

		.card-img {
			width: 100%;
			height: 100%;
			border-radius: 0.5rem;
			background-color: #262626;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 0.5rem;
				opacity: 0.8;
				transition: opacity 0.3s;
			}
		}

		&:hover .card-img img {
			opacity: 0.4;
		}
	}

	.card-info {
		position: absolute;
		bottom: 0;
		padding: 2rem;
		text-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.4);
		opacity: 0;
		visibility: hidden;
		transition: all 0.4s ease-in-out;

		h2 {
			font-family: 'Baloo Da 2', sans-serif;
			font-size: 3.5rem;
			font-weight: 300;
			line-height: 2.5rem;
			color: #eee;
			margin-bottom: 0.8rem;
		}

		h3 {
			font-family: 'Julius Sans One', sans-serif;
			font-weight: 600;
			font-size: 2rem;
			color: $primary;
			margin-bottom: 1rem;
		}

		p {
			width: 90%;
			font-family: 'Baloo Da 2', sans-serif;
			font-size: 1.4rem;
			font-weight: 300;
			line-height: 1.6rem;
			color: #eee;
		}
	}

	.card:hover .card-info {
		bottom: 2rem;
		opacity: 1;
		visibility: visible;
	}
}
