// NAVBAR
.navbar {
	@include flexLayout(space-between);
	position: sticky;
	top: 0;
	height: 80px;
	background: $dark;
	font-size: 1.7rem;
	padding: 0 2rem;
	z-index: 99;

	&_logo {
		display: flex;
		align-items: center;
		background: #f2994a;
		background-image: linear-gradient(to top, #f12711 0%, #f5af19 100%);
		background-size: 100%;
		-webkit-background-clip: text;
		-moz-background-clip: text;
		-webkit-text-fill-color: transparent;
		-moz-text-fill-color: transparent;
		@include typography($family: 'Tenor Sans', $size: 2.8rem, $weight: 700);
		margin-left: 3rem;
		cursor: pointer;

		@include responsive(md) {
			font-size: 2.6rem;
			margin-left: 1.5rem;
		}

		@include responsive(sm) {
			font-size: 2.4rem;
			margin-left: 1rem;
		}

		@include responsive(xs) {
			font-size: 2.1rem;
			margin-left: 0.5rem;
		}
	}

	&_menu {
		display: flex;
		align-items: center;
	}

	&_item {
		height: 7rem;
	}

	&_links {
		@include flexLayout;
		width: 125px;
		height: 100%;
		color: $light;
		text-transform: uppercase;
		transition: all 0.3s ease;

		&:hover {
			color: $primary;
			transition: all 0.3s ease;
		}
	}

	&_btn {
		@include flexLayout;
		width: 100%;
		padding: 0 1rem;
		margin-right: 2rem;

		.button {
			@extend %btn;
			color: $light;
			background-color: $primary;
			padding: 10px 20px;
			border: 1px solid $dark;
			border-radius: 24px;
			background-image: linear-gradient(to right, transparent 50%, #ff4b4b 50%);
			background-size: 200%;
			background-position: 0%;
			text-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.3);
			transition: 0.4s all ease-in-out;

			&:hover {
				background-position: 100%;
			}

			&:active {
				transform: scale(0.97);
			}
		}
	}
}

// HEADER
.header {
	height: 100vh;
	width: 100%;
	position: relative;
	background-color: rgba(0, 0, 0, 0.8);

	.wrapper img {
		object-fit: cover;
		height: 100vh;
		width: 100%;
		opacity: 0.5;
	}

	.banner {
		position: absolute;
		top: 30%;
		left: 12%;
		width: 60%;

		h1 {
			@include typography($size: 6rem);
			color: $light;
			line-height: 6.5rem;
			letter-spacing: 0.2rem;
			width: 60%;
			margin-bottom: 1rem;
			text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);

			@include responsive(lg) {
				font-size: 4.5rem;
				line-height: 4.8rem;
			}

			@include responsive(md) {
				font-size: 3.8rem;
				line-height: 3.6rem;
				width: 70%;
			}

			@include responsive(sm) {
				width: 70%;
				font-size: 2.7rem;
				line-height: 2.5rem;
			}

			@include responsive(xs) {
				font-size: 1.7rem;
				line-height: 1.8rem;
			}
		}

		p {
			@include typography($family: 'Calibri', $size: 2rem);
			color: $light;
			letter-spacing: 0.1rem;
			margin-bottom: 3rem;
			text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);

			@include responsive(md) {
				font-size: 1.5rem;
			}

			@include responsive(sm) {
				font-size: 1rem;
			}

			@include responsive(xs) {
				font-size: 0.8rem;
			}
		}

		.btn-header {
			@extend %btn;
			padding: 2rem 6rem;
			color: $light;
			background-color: $primary;
			text-transform: uppercase;
			font-size: 1.7rem;
			text-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.5);
			box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
			outline: 2px solid $primary;

			@include responsive(md) {
				padding: 1.4rem 4rem;
				font-size: 1rem;
			}

			@include responsive(sm) {
				padding: 0.85rem 2.5rem;
				font-size: 0.8rem;
			}

			@include responsive(xs) {
				padding: 0.55rem 1.5rem;
				font-size: 0.5rem;
			}

			&:active {
				background-color: darken($primary, 10%);
				outline: 2px solid $primary;
				outline-offset: 6px;
			}
		}
	}
}

// ABOUT
.about_us {
	width: 100%;
	background-color: $secondary;
	padding-bottom: 8rem;
}

.services {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 2fr 1fr;
	padding-right: 4rem;

	@include responsive(lg) {
		display: block;
		padding-left: 6rem;
	}

	.about_img_wrapper {
		display: flex;
		justify-content: center;

		img {
			width: 72rem;
			padding-bottom: 3rem;

			@include responsive(lg) {
				width: 65rem;
			}

			@include responsive(md) {
				width: 55rem;
			}

			@include responsive(sm) {
				width: 40rem;
			}

			@include responsive(xs) {
				width: 30rem;
			}
		}
	}

	.service {
		display: grid;
		grid-template-rows: repeat(3, 1fr);
		grid-gap: 1rem;

		.box {
			display: block;

			@include responsive(xl) {
				margin-right: 8rem;
			}

			@include responsive(lg) {
				padding-top: 2rem;
			}

			.service_header {
				display: flex;
				margin-bottom: 1.5rem;

				i {
					color: $primary;
					font-size: 2.5rem;
					margin-right: 1rem;

					@include responsive(sm) {
						font-size: 2.2rem;
					}

					@include responsive(xs) {
						font-size: 2rem;
					}
				}

				h3 {
					font-size: 2.5rem;
					color: $dark;

					@include responsive(sm) {
						font-size: 2.2rem;
					}

					@include responsive(xs) {
						font-size: 2rem;
					}
				}
			}

			.service_text {
				font-size: 1.2rem;
				line-height: 1.5rem;
				letter-spacing: 0.1rem;

				@include responsive(sm) {
					font-size: 1.2rem;
					line-height: 1.2rem;
				}

				@include responsive(xs) {
					font-size: 1rem;
					line-height: 1.1rem;
				}
			}
		}
	}
}

// TEAM
.team {
	display: block;
	padding: 0 5rem 10rem 5rem;

	@include responsive(sm) {
		padding: 0 5rem 3rem 5rem;
	}
}

.cards-wrapper {
	@include flexLayout($justify: space-evenly);
	width: 100%;

	@include responsive(lg) {
		flex-direction: column;
	}

	.card {
		width: 35rem;
		height: 42rem;
		box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.4);
		border-radius: 0.5rem;
		position: relative;

		@include responsive(lg) {
			margin-bottom: 4rem;
		}

		@include responsive(xs) {
			width: 29rem;
			height: 36rem;
			margin-bottom: 4rem;
		}

		.card-img {
			width: 100%;
			height: 100%;
			border-radius: 0.5rem;
			background-color: $dark;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 0.5rem;
				opacity: 0.8;
				transition: opacity 0.3s;
			}
		}

		&:hover .card-img img {
			opacity: 0.4;
		}
	}

	.card-info {
		position: absolute;
		bottom: 0;
		padding: 2rem;
		text-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.4);
		opacity: 0;
		visibility: hidden;
		transition: all 0.4s ease-in-out;

		h2 {
			@include typography($size: 3.5rem);
			line-height: 2.5rem;
			color: $light;
			margin-bottom: 0.8rem;
		}

		h3 {
			@include typography($family: 'Julius Sans One', $weight: 600);
			color: $primary;
			margin-bottom: 1rem;
		}

		p {
			@include typography($size: 1.4rem);
			line-height: 1.6rem;
			width: 90%;
			color: $light;
		}
	}

	.card:hover .card-info {
		bottom: 2rem;
		opacity: 1;
		visibility: visible;
	}
}

// CONTACT
.contact {
	background: #ece9e6;
	background: -webkit-linear-gradient(to right, #ffffff, #ece9e6);
	background: linear-gradient(to right, #ffffff, #ece9e6);
	@include flexLayout;
	flex-direction: column;
	height: 100%;
	width: 100%;
	padding-bottom: 10rem;

	@include responsive(sm) {
		padding-bottom: 6rem;
	}
}

.section_content {
	@include flexLayout;
	width: 74%;
	height: 60rem;
	background: $secondary;
	box-shadow: 0 0.3rem 0.7rem rgba($color: #000000, $alpha: 0.5);

	.content_left img {
		width: 50rem;
		height: 60rem;

		@include responsive(lg) {
			display: none;
		}
	}

	.content_right {
		@include flexLayout;
		height: 100%;
		width: 50rem;
		flex-direction: column;
		margin-top: -2px;

		.contact_heading {
			@include typography($weight: 600);
			text-align: center;
			line-height: 2.4rem;
			letter-spacing: 0.12rem;
			padding: 0 4.5rem;
			margin: 5.8rem 0 1rem 0;
			text-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);

			@include responsive(sm) {
				font-size: 1.75rem;
				margin: 3rem 0 1rem 0;
			}
		}

		form {
			height: 100%;
			width: 40rem;
			font-family: 'Tenor', sans-serif;
			padding: 0.5rem 2rem;

			@include responsive(lg) {
				width: 55rem;
			}

			@include responsive(md) {
				width: 48rem;
			}

			@include responsive(sm) {
				width: 35rem;
			}

			@include responsive(sm) {
				width: 27rem;
			}

			.input_group {
				display: flex;
				flex-direction: column;
				margin: 1rem 0;
				position: relative;

				.field {
					width: 100%;
					height: 4rem;
					font-size: 1.45rem;
					padding-left: 0.7rem;
					border: 0.19rem solid $dark-gray;
					border-radius: 0.2rem;
					box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.2);

					.field:focus {
						color: $dark;
						font-style: inherit;
					}
				}

				small {
					font-size: 1.1rem;
					letter-spacing: 0.5px;
					margin-top: 0.4rem;
					visibility: hidden;
				}

				.message {
					color: $dark;
					padding: 0.5rem;
					margin-bottom: 1.5rem;
					font-family: 'Calibri', sans-serif;
					border: 0.19rem solid #999;
					border-radius: 0.2rem;
					box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.3);

					.message:focus {
						color: #212121;
					}
				}
			}

			.input_group.valid .field {
				border-color: $success;
			}

			.input_group.error .field {
				border-color: $danger;
			}

			.input_group.error small {
				visibility: visible;
				color: $danger;
			}

			.btn-submit {
				@extend %btn;
				width: 100%;
				height: 5rem;
				color: $light;
				background-color: $info;
				text-transform: uppercase;
				font-size: 1.7rem;
				text-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.5);
				box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
				outline: 2px solid $info;
				transition: all 0.2s ease;

				@include responsive(sm) {
					height: 4rem;
					font-size: 1.4rem;
				}

				&:active {
					outline: 2px solid $light;
					outline-offset: -6px;
				}
			}
		}
	}
}

// FOOTER
.footer_container {
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	flex-direction: column;
	background: #000;

	.footer_links {
		width: 60%;
		padding: 2rem;

		.link_wrapper {
			width: 100%;
			height: auto;
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-gap: 1rem;

			@include responsive(md) {
				grid-template-columns: repeat(2, 1fr);
			}

			.link_items {
				display: flex;
				flex-direction: column;
				width: 13rem;
				margin: 0 auto;

				h2 {
					color: $light;
					@include typography($size: 2.4rem, $weight: 600);

					@include responsive(md) {
						font-size: 2.1rem;
					}

					@include responsive(sm) {
						font-size: 1.8rem;
					}
				}

				a {
					@include typography($size: 1.45rem, $weight: 100);
					line-height: 1.7rem;
					color: $light;

					@include responsive(md) {
						font-size: 1.38rem;
					}

					@include responsive(sm) {
						font-size: 1.3rem;
					}
				}
			}
		}
	}
}

.social_media {
	@include flexLayout($justify: space-evenly);
	height: 100%;
	width: 100%;
	color: $light;
	padding-bottom: 2rem;

	@include responsive(sm) {
		flex-direction: column;
		margin-top: 1rem;
	}

	.footer_logo {
		color: $light;
		@include typography($family: 'Tenor Sans', $size: 1.7rem, $weight: 500);
		margin-right: 2rem;

		@include responsive(sm) {
			font-size: 1.5rem;
			margin-bottom: 0.5rem;
		}
	}

	.rights {
		@include typography($family: 'Calibri', $size: 1.25rem, $weight: 100);

		@include responsive(sm) {
			margin-bottom: 1rem;
		}
	}

	.social_icons {
		width: 20rem;
		display: flex;
		justify-content: space-between;
		font-size: 2.3rem;

		i {
			color: $light;

			&:hover {
				color: $primary;
			}
		}
	}
}
