// COLORS
$primary: #f29d1f;
$secondary: #f3f3f3;
$dark: #333;
$light: #fefefe;

// MIXINS
@mixin flexLayout($justify: center) {
	display: flex;
	justify-content: $justify;
	align-items: center;
}

// SHARED BUTTON
%btn {
	display: inline-block;
	text-align: center;
	border: none;
	outline: none;
	transition: 0.2s all ease;
	cursor: pointer;
}

.btn-primary {
	@extend %btn;
	background-color: lighten($primary, 10%);
}

.btn-secondary {
	@extend %btn;
	background-color: lighten($dark, 15%);
}
