// COLORS
$primary: #f29d1f;
$secondary: #f3f3f3;
$dark: #333;
$light: #fefefe;

// SHARED BUTTON
%btn {
	display: inline-block;
	text-align: center;
	border: none;
	outline: none;
	transition: 0.2s all ease;
	cursor: pointer;

	&-primary {
		@extend %btn;
		background-color: lighten($primary, 10%);
	}

	&-secondary {
		@extend %btn;
		background-color: lighten($dark, 15%);
	}
}

// MIXINS
@mixin flexLayout($justify: center) {
	display: flex;
	justify-content: $justify;
	align-items: center;
}

// MEDIA QUERIES
@mixin responsive($breakpoint) {
	@if ($breakpoint == md) {
		@media screen and (max-width: 960px) {
			@content;
		}
	}
}


